
<html>
	<head>
    	  <title>Amor</title>
	  
	</head>
	<body>
		<div>
     			<h1><a href="">Para el amorcito de mi vida</a></h1>	
		</div>     	
		
		<div>
			<p>En Breves me voy y querria saber que cositas me vas hacer al volver?</p>	
			<h2><a href="http://data.whicdn.com/images/57745856/tumblr_m7l5iouLpC1rrzr19o1_400_large.gif">Como esto</a></h2>
			<p>De esas que tu sabes que me gustan muchos.</p>
		</div>
		<div>
			<p>O por el contrario...</p>	
			<h2><a href="http://3.bp.blogspot.com/-Zb3j4W-mFtg/UtK3EFcAKBI/AAAAAAAAeiQ/nzQFbUeGjQk/s1600/eeewwww.gif">Me dejaras relajadito</a></h2>
			<p>Como tu sabes que me gusta mucho mas y luego acompanado de lo de arriba.</p>
		</div>
	</body>
</html>